body {
    color: #333;
    font-family: 'Poppins';

}

p {
    font-family: 'Source Serif Pro',
        serif;
}

.collapsed {
    padding-bottom: 40px;
}

.story-details {
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo {
    max-height: 55px;
    padding-left: 10px;
}

.title {
    font-family: 'Source Serif Pro',
        serif;
}

.nav-items a {
    color: black;
    font-size: 18px;
}

.twitter {
    color: #38A1F3;
}

.facebook {
    color: #3b5998;
}

.linkedin {
    color: #0077B5;
}

.pinterest {
    color: #c8232c;
}

.story-icon {
    max-height: 70px;
    padding-right: 10px;
}

.story-img {
    padding-top: 5px;
    padding-bottom: 5px;
}


.shares a {
    padding-right: 20px;
}

.flag-icon {
    height: 40px;
}

.collection p {
    font-family: Arial, Helvetica, sans-serif
}

.collection span.title {
    font-family: Arial,
        Helvetica,
        sans-serif;

    font-weight: bold;
}

.contact {
    padding: 20px;
}

.theme-text {
    color: #D35400;
}

#mobile-menu i {
    color: #D35400;
}

.twitter-tweet {
    width: 100%;
    height: auto;
}

.sidebar {
    margin: 5px;
}